/* remove useless margin in list items */
.list-group-item :first-child {
  margin-right: 0px;
}

.list-group-item {
  padding: 0.6rem;
}

.full-list {
  margin: 0 auto;
  width: 45vh;
}

form {
  width: 45vh;
  margin: 0 auto;
  padding: 0.6rem;
}


